@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Graduate&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
*, *::before, *::after
body{
    background-color:#FFDFB2;}
.title{
    background-color:#C5A87C}
.logo{
    max-width:10%;
}
.flex-wrapper{display:flex;
    gap:20px;
    padding:2rem;
    background-color:#D48F54;
    }
.logo{max-width:17.5%;
margin-right:auto;}
a{font-family:arimo;
font-size:50px;
color:#000000;
text-align:right;
}
h1,h2{font-family:graduate;
    text-align:center;
    margin-right:auto;
    font-size:70px;}
h2{font-size:50px;}
.abody,body{background-color:#FFDFB2;}
.extras-title{font-family:graduate;

}
.info{font-size:3vw;
font-family:arimo;}
.food
    {
            background-color:#C5A87C
    }
.mbody{
            background-color:#FFEDCB;
        }
.hi{
        background-color:#4F4537;
        color:#FFFFFF;
}

.flex-loco{display:flex;
    gap:20px;
    background-color:#D48F54;
    text-align:left;
    max-width:25vw;
    flex-wrap:wrap;
    margin-right:auto
    }
.locations{text-decoration:underline;
font-size:40px;
font-family:graduate;}
p{font-size:2rem;
    font-family:Arimo;
}
.pic{
    display:flex;
justify-content:right;
text-align:right;
margin-left:auto;}
.center{display:flex;
margin:5rem;}
.flex-menu{display:flex;
    gap:20px;
    max-width:30vw;
    text-align:left;
    flex-wrap:wrap;

}
.flex-extras{display:flex;
justify-content:right;
text-align:right;
flex-wrap:wrap;}
.flex-sauce{display:flex;
    gap:20px;
    text-align:left;
    flex-wrap:wrap;}
.sides{margin-right:25rem;}
.sauce{margin-left:19%;}
.meat-title{margin:0 13%;}
.extras{text-align:right;
margin-right:18%}
.protein{margin-right:4rem;}
h3{ font-size:30px;
font-family:grauate;}
.sauces{margin-right:20rem;}
.eprice{padding:20px;}
